<div class="product-container">
    <div class="product-cards-container">
        {% for product in product_objects %}
            
            <div class="product-card">
                <div class="product-image">

                    <!-- calcul de la remise si remise dans la function view -->
                    {% if product.remise > 0 %}
                        <span class="discount-tag"> {{ product.remise }} off</span>
                    {% endif %}
                    
                    <img src="{{ product.image_main }}" class="product-thumb" alt="">
                    <button class="card-btn">add to whislist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">{{ product.name}}
                        <button class="btn-detail"><a href="#">Detail</a></button>
                    </h2>
                    
                    <p class="product-short-des">{{ product.description }}</p>
                    
                    {% if product.remise %}
                        {% load custom_tags %}
                        <span class="price">{{ product.price }}</span><span class="actual-price">{{ product.price|calcul_remise:product.remise }}</span>
                    {% else %}
                        <span class="price">{{ product.price }}</span>
                    {% endif %}
                </div>
            </div>    
        {% endfor %}

    </div>

    <div class="container-paginator">

        {% if product_objects.has_previous and product_objects.has_next %}
            
            <button class="btn-paginator" id="prev"><a  href="?page={{ product_objects.previous_page_number }}">previous</a></button>
            <button class="btn-paginator" id="next"><a  href="?page={{product_objects.next_page_number }}">next</a></button>
        {% elif not product_objects.has_previous and product_objects.has_next %}

            {% comment %} <button class="btn-paginator" id="prev" disabled><a  href="?page={{ product_objects.previous_page_number }}">previous</a></button>
            <button class="btn-paginator" id="next"><a  href="?page={{product_objects.next_page_number }}">next</a></button> {% endcomment %}
        
        {% elif product_objects.has_previous and not product_objects.has_next %}

            <button class="btn-paginator" id="prev"><a  href="?page={{ product_objects.previous_page_number }}">previous</a></button>
            <button class="btn-paginator" id="next" disabled><a  href="?page={{product_objects.next_page_number }}">next</a></button>
        
        {% endif %}
    </div>
</div>
