<div class="product-container">
    <div class="product-cards-container">
        {% for product in product_objects %}
            
            <div class="product-card">
                <div class="product-image">

                    <!-- calcul de la remise si remise dans la function view -->
                    {% if product.remise > 0 %}
                        <span class="discount-tag"> {{ product.remise }} off</span>
                    {% endif %}
                    
                    <img src="{{ product.image_main.url }}" class="product-thumb" alt="">
                    <button class="card-btn">add to whislist</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">{{ product.name}}
                        <button class="btn-detail"><a href="#">Detail</a></button>
                    </h2>
                    
                    <p class="product-short-des">{{ product.description }}</p>
                    
                    {% if product.remise %}
                        {% load custom_tags %}
                        <span class="price">{{ product.price|calcul_remise:product.remise }}</span><span class="actual-price">{{ product.price }}</span>
                    {% else %}
                        <span class="price">{{ product.price }}</span>
                    {% endif %}
                </div>
            </div>    
        {% endfor %}

    </div>

    <div class="container-paginator" id="container-paginator">
        {% if product_objects.has_previous %}
            <button class="btn-paginator" id="prev">
                <a href="?page={{ page_obj.previous_page_number }}">&#x25C0; previous</a>
            </button>
        {% else %}
            <button class="btn-paginator" id="prev" disabled>
                <a href="?page={{ page_obj.previous_page_number }}">&#x25C0; previous</a>
            </button>
        {% endif %}

        {% if product_objects.has_next %}
            <button class="btn-paginator" id="next">
                <a href="?page={{ page_obj.next_page_number }}">next &#x25B6;</a>
            </button>
        {% else %}
            <button class="btn-paginator" id="next" disabled>
                <a href="?page={{ page_obj.next_page_number }}">next &#x25B6;</a>
            </button>
        {% endif %}

    </div>
</div>
