<footer class="footer" id="footer">

    <!-- Website footer -->
    <div class="top-footer" id="top-footer">
        <div class="social-media">
            <h4 class="logo">
                Nourou Fashion
            </h4>

            <h5>Follow Us</h5>
            <ul class="social-media-links">
                <li><i class="fa-brands fa-facebook fa-3x"></i></li>
                <li><i class="fa-brands fa-instagram-square fa-3x"></i></li>
                <li><i class="fa-brands fa-twitter fa-3x"></i></li>
                <li><i class="fa-brands fa-youtube fa-3x"></i></li>
                <li><i class="fa-brands fa-whatsapp-square fa-3x"></i></li>
                <li><i class="fa-brands fa-telegram fa-3x"></i></li>
            </ul>

        </div>
        
        <div class="nav-footer" id="nav-footer">
            <ul class="navigation-footer-1">
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact</a></li>
            </ul>

            <ul class="navigation-footer-1">
                <li><a href="#">Men</a></li>
                <li><a href="#">Women</a></li>
                <li><a href="#">Children</a></li>
                <li><a href="#">Accessories</a></li>
                <li><a href="#">Shoes</a></li>
            </ul>
        </div>
    </div>
    <p class="copyright">Copyright © 2022 0script <a href="https://github.com/0script">0script github </a> </p>
</footer>