<nav class="navbar">


    <!-- Website navigation and header  -->
    <div class="nav">

        <div id="logo" class="logo">Nourou Fashion</div>

        <div class="nav-items">
            


            <i id="toggle-search" class="fa-solid fa-magnifying-glass"></i>
            
            <form class="search" method="GET"  action="{% url 'product_app:searchproduct' %}" value="{{request.GET.q}}">
                <input type="text" class="search-box" placeholder="search brand, product" name="q" value="{{request.GET.q}}">
                <input class="search-btn" type="submit" name="submit" value="Search" />
                {% comment %} <button class="search-btn" type="submit">search</button> {% endcomment %}
            </form>
            <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
            <a href="#"><i class="fa-solid fa-user"></i></a>
        </div>
    </div>

    <div id="menu-btn">
        <i class="fa-solid fa-bars" id="icon-menu-btn"></i>
    </div>
    <ul class="links-container">
        <li class="link-item"><a href="#" class="link">home</a></li>
        <li class="link-item deroulant"><a href="#" class="link">products</a>
            <ul class="sous-menu">
                <li><a href="#">Men</a></li>
                <li><a href="#">Women</a></li>
                <li><a href="#">Children</a></li>
                <li><a href="#">Accessories</a></li>
            </ul>
        </li>
        <li class="link-item"><a href="#" class="link">about us</a></li>
        <li class="link-item"><a href="#" class="link">contact</a></li>
    </ul>
    
</nav>			
{% load static %}
<script src="{% static 'js/navbar.js'%}"></script>